<form action="/subscribe" method="POST" class="newsletter-form">
    <h3>Subscribe to Our Newsletter</h3>
    <div class="form-group">
      <input type="email" name="email" placeholder="Enter your email" required>
      <button type="submit">Subscribe</button>
    </div>
  </form>